table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

// make dropdown arrow align better in buttons
.menuTrigger {
    .mat-icon {
        margin-right: -8px;
    }
}

// handle visiblity of checkboxes in simple menu
.mat-menu-item {
    .mat-icon.checked {
        display: none;
        pointer-events: none;
    }

    .mat-icon.empty {
        pointer-events: none;
    }
}

.mat-menu-item.selected {
    .mat-icon.empty {
        display: none;
    }

    .mat-icon.checked {
        display: unset;
    }
}

// Color menu colors
.red {
    color: red;
}

// headers in center start
:host ::ng-deep .k-grid-header .k-header {
    position: relative;
    vertical-align: bottom;
    cursor: default;
    text-align: center;
}

:host ::ng-deep .k-cell-inner>.k-link {
    padding: 8px 12px;
    flex-flow: row nowrap;
    align-items: center;
    /* justify-content: inherit; */
    flex: 1;
    display: block;
    overflow: visible;
    text-align: center;
    width: auto;
}

// headers in center end


:host ::ng-deep .fixed-header .k-grid-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.sticky-header {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}