<div class="content container-fluid">
    <div class="dropdown_container pt-2">
        <select class="form-select w-auto" id="selectBox" [(ngModel)]="selectedPreference">
            <option *ngFor="let preference of preferenceList" [value]="preference.key">
                {{ preference.value }}
            </option>
        </select>
    </div>
    <div class="row g-1 mt-1">
        <div class="col-12 col-md-4 col-sm-6 d-flex justify-content-center" *ngFor="let card of cardData">
            <div class="custom_card shadow-sm">
                <div class="card-body row">
                    <div class="col-2">
                        <span class="icon-placeholder"><i class="{{card.icon}}"></i></span>
                    </div>
                    <div class="col-10">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <div class="row">
                            <div class="col">
                                <p *ngIf="isString(card.count)" class="card-text">{{ card.count }}</p>
                                <ul *ngIf="isObject(card.count)" class="list-unstyled card-text">
                                    <li *ngFor="let key of objectKeys(card.count)">
                                        {{ card.count[key] }}
                                    </li>
                                </ul>
                                <p class="card-text">{{ card.checked_desc }}</p>
                            </div>
                            <div class="col text-center">
                                <strong class="card-score">{{ card.score }}</strong>
                            </div>
                        </div>
                        <p class="card-bottom text-end">
                            {{ card.change }} this week
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 mt-3">
        <div class="col-8">
            <app-line-chart></app-line-chart>
        </div>
        <div class="col-4 card">
            <app-radial-ring></app-radial-ring>
        </div>
    </div>
    <div class="mt-4">
        <h5>Top Issues</h5>
        <div class="btn-toolbar mb-2 w-100">
            <div class="btn-group w-100">
                <button type="button" class="btn issue_btn">By Website</button>
                <button type="button" class="btn issue_btn">By Webpages</button>
                <button type="button" class="btn issue_btn">By Checkpoints</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Website URL</th>
                        <th>Failure Rate</th>
                        <th>Scan Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                        <td>{{ item.column1 }}</td>
                        <td>{{ item.column2 }}</td>
                        <td>{{ item.column3 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>