.radial-gauge-container {
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
}

.centered-value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.legend-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.legend-label {
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
}

.gauge-title {
    font-size: 15px;
    font-weight: bold;
}