/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(170, 170, 170, 0.2);
}

a {
  text-decoration: none !important;
  color: #1E3F66 !important;
}

.btn-primary {
  background-color: #1E3F66 !important;
  color: #fff !important;
}