@use '@angular/material' as mat;

// Define a custom theme.
$custom-primary: mat.define-palette(mat.$indigo-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((color: (primary: $custom-primary,
                accent: $custom-accent,
                warn: $custom-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

// Include the theme styles.
@include mat.all-component-themes($custom-theme);